th{
    padding: 3px !important;
}

td{
    padding: 3px !important;
    /*white-space:nowrap;*/
    overflow:hidden;
    text-overflow:ellipsis;
    max-width: 350px !important;
    /*max-height: 150px !important;*/
}

.table_div_trim div {
    height: 4em !important;
    overflow: hidden !important;

}

/* Sortable tables */
table.sortable thead {
    background-color: #333;
    color: #cccccc;
    font-weight: bold;
    cursor: default;
}
th {
    font-size: 100%;
}
table#sortableTable tbody tr:nth-child(2n) td {
    background: #ddd6c7;
}
table#sortableTable tbody tr:nth-child(2n+1) td {
    background: #dbdccb;
}

table#sortableTable1 tbody tr:nth-child(2n) td {
    background: #ddd6c7;
}
table#sortableTable1 tbody tr:nth-child(2n+1) td {
    background: #dbdccb;
}

