<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">


	<http auto-config="true">
		<!--for http enable the param below param-->
		<!--<intercept-url pattern="/**" requires-channel="https" />-->
		<!--and read acricles below for tomcat configuring-->
		<!--https://crunchify.com/step-by-step-guide-to-enable-https-or-ssl-correct-way-on-apache-tomcat-server-port-8443/-->
		<!--https://dzone.com/articles/securing-your-tomcat-app-ssl-->

		<intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/adduser**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/adduser/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/removeuser**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/removeuser/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/edituser**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/edituser/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/userdata**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/usermanagement/userdata/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofdealmanagement**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofdealmanagement/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofdealmanagement/editstatusofdeal**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofdealmanagement/editstatusofdeal/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofdealmanagement/addstatusofdeal**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofdealmanagement/addstatusofdeal/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofdealmanagement/removestatusofdeal**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofdealmanagement/removestatusofdeal/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofcallmanagement/editstatusofcall**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofcallmanagement/editstatusofcall/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofcallmanagement/addstatusofcall**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofcallmanagement/addstatusofcall/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofcallmanagement/removestatusofcall**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/admin/statusofcallmanagement/removestatusofcall/**" access="hasRole('ROLE_ADMIN')" />

		<!--<intercept-url pattern="/userpages**" access="isAuthenticated()" />-->
		<!--<intercept-url pattern="/userpages/**" access="isAuthenticated()" />-->

		<intercept-url pattern="/controller**" access="isAuthenticated()" />
		<intercept-url pattern="/controller/**" access="isAuthenticated()" />
		<intercept-url pattern="/controller/open**" access="isAuthenticated()" />
		<intercept-url pattern="/controller/open/**" access="isAuthenticated()" />

		<intercept-url pattern="/importexport**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/importexport/**" access="hasRole('ROLE_ADMIN')" />

		<intercept-url pattern="/basetableconroller**" access="isAuthenticated()" />
		<intercept-url pattern="/basetableconroller/**" access="isAuthenticated()" />
		<intercept-url pattern="/basetableconroller/basetablerecorddetails**" access="isAuthenticated()" />
		<intercept-url pattern="/basetableconroller/basetablerecorddetails/**" access="isAuthenticated()" />
		<intercept-url pattern="/basetableconroller/basetablerecorddetails/history**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/basetableconroller/basetablerecorddetails/history/**" access="hasRole('ROLE_ADMIN')" />

		<intercept-url pattern="/basetableconroller/removebasetablerecord**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/basetableconroller/removebasetablerecord/**" access="hasRole('ROLE_ADMIN')" />

		<intercept-url pattern="/calc**" access="isAuthenticated()" />
		<intercept-url pattern="/calc/**" access="isAuthenticated()" />
		<intercept-url pattern="/calc/editcalcrecord**" access="isAuthenticated()" />
		<intercept-url pattern="/calc/editcalcrecord/**" access="isAuthenticated()" />

		<!--Adding remember me checkbox to login page, 2592000=30 days-->
		<remember-me key="uniqueAndSecret" token-validity-seconds="2592000"/>

		<!--Cross Site Request Forgery (CSRF)-->
		<csrf disabled="true" />
	</http>

     <!--Password Hashing Bean -->
    <beans:bean id="passEnc" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder" >
        <beans:constructor-arg name="strength" value="12" />
    </beans:bean>

	<authentication-manager>
		<authentication-provider>
			<!--<user-service>-->
				<!--<user name="admin" password="123" authorities="ROLE_ADMIN" />-->
				<!--<user name="adm" password="123" authorities="ROLE_ADMIN" />-->
				<!--<user name="usr" password="123" authorities="ROLE_USER" />-->
			<!--</user-service>-->

			<jdbc-user-service data-source-ref="dataSource"
							   users-by-username-query=
									   "SELECT User.contactPhoneNumber as 'username', User.password, User.enabled FROM User where User.contactPhoneNumber=?"
							   authorities-by-username-query=
									   "SELECT User.contactPhoneNumber as 'username', UserRoles.role FROM User, UserRoles where User.role=UserRoles.id and User.contactPhoneNumber=?" />
            <password-encoder ref="passEnc" />
        </authentication-provider>
	</authentication-manager>

</beans:beans>